<!-- Título centrado -->
<h1 class="text-center">Mercado web</h1>

<!-- Contenedor con margen superior -->
<div class="container mt-5">
    <!-- Fila con columnas responsivas -->
    <div class="row row-cols-2 row-cols-md-3 row-cols-sm-1">
        <!-- Inclusión de la vista parcial "products" -->
        {{> products}}
    </div>
</div>
