{{#each products}}
<div class="col mb-4">
    <div class="card">
        <div style="width: 40%; display: inline-block; margin: 0 auto;">
            <img src="img/{{this}}.png" class="card-img-top" alt="{{this}}">
            <div class="card-body">
                <h5 class="card-title">{{this}}</h5>
            </div>
        </div>
    </div>
</div>
{{/each}}
